avensia-im-migration-datafactory-test/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "avensia-im-migration-datafactory-test"
		},
		"linkedServiceMigrationDataFactoryTest_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedServiceMigrationDataFactoryTest'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Concatpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline is created to do a POC on Concat function in ADF",
				"activities": [
					{
						"name": "Concat Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "concatdataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sampleinputjson": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-21T19:29:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/concatdataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelToRSJson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline is used to transform Excel to RSJSON File",
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ExcelToRSJson",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-21T19:51:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ExcelToRSJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ForEachPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get the list of splitted Json files and read each file and transform it into RSJSON file",
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Split",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "GenerateRSJSONForEachSplitFile",
											"type": "DataFlowReference",
											"parameters": {
												"FileName": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-22T08:47:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Split')]",
				"[concat(variables('factoryId'), '/dataflows/GenerateRSJSONForEachSplitFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonToRSJson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TransformJsonToRSJson",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Jsonsource": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-21T19:30:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TransformJsonToRSJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SplitJsonPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "split single json into multiple json files",
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SplitJson",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-21T19:59:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SplitJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/converttexttojson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "texttojson",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "GenerateJson",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"customer": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-03T07:31:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/GenerateJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Product.txt",
						"folderPath": "Files",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "custid",
						"type": "String"
					},
					{
						"name": "custname",
						"type": "String"
					},
					{
						"name": "itemname",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ExcelSource1.xlsx",
						"container": "import"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "createdService",
						"type": "String"
					},
					{
						"name": "createdBy",
						"type": "String"
					},
					{
						"name": "createdDate",
						"type": "String"
					},
					{
						"name": "recordId",
						"type": "String"
					},
					{
						"name": "rowNo",
						"type": "String"
					},
					{
						"name": "modifiedService",
						"type": "String"
					},
					{
						"name": "modifiedBy",
						"type": "String"
					},
					{
						"name": "modifiedDate",
						"type": "String"
					},
					{
						"name": "basecode",
						"type": "String"
					},
					{
						"name": "erpstatus",
						"type": "String"
					},
					{
						"name": "erpsystem",
						"type": "String"
					},
					{
						"name": "locale",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MultiJsonSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Entities": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"type": {
									"type": "string"
								},
								"properties": {
									"type": "object",
									"properties": {
										"createdService": {
											"type": "string"
										},
										"createdBy": {
											"type": "string"
										},
										"createdDate": {
											"type": "string"
										},
										"modifiedService": {
											"type": "string"
										},
										"modifiedBy": {
											"type": "string"
										},
										"modifiedDate": {
											"type": "string"
										}
									}
								},
								"data": {
									"type": "object",
									"properties": {
										"attributes": {
											"type": "object",
											"properties": {
												"thgbaseCode": {
													"type": "object",
													"properties": {
														"values": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"value": {
																		"type": "integer"
																	},
																	"locale": {
																		"type": "string"
																	},
																	"source": {
																		"type": "string"
																	}
																}
															}
														}
													}
												},
												"erpStatus": {
													"type": "object",
													"properties": {
														"values": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"value": {
																		"type": "string"
																	},
																	"locale": {
																		"type": "string"
																	},
																	"source": {
																		"type": "string"
																	}
																}
															}
														}
													}
												},
												"erpSystem": {
													"type": "object",
													"properties": {
														"values": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"value": {
																		"type": "string"
																	},
																	"locale": {
																		"type": "string"
																	},
																	"source": {
																		"type": "string"
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						},
						"RowNumber": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RSJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"createdService": {
							"type": "string"
						},
						"createdBy": {
							"type": "string"
						},
						"createdDate": {
							"type": "string"
						},
						"recordId": {
							"type": "string"
						},
						"rowNo": {
							"type": "integer"
						},
						"modifiedService": {
							"type": "string"
						},
						"modifiedBy": {
							"type": "string"
						},
						"modifiedDate": {
							"type": "string"
						},
						"basecode": {
							"type": "integer"
						},
						"erpstatus": {
							"type": "string"
						},
						"erpsystem": {
							"type": "string"
						},
						"locale": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sourcejson.json",
						"folderPath": "Files",
						"container": "input"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"createdService": {
							"type": "string"
						},
						"createdBy": {
							"type": "string"
						},
						"createdDate": {
							"type": "string"
						},
						"recordId": {
							"type": "string"
						},
						"rowNo": {
							"type": "integer"
						},
						"modifiedService": {
							"type": "string"
						},
						"modifiedBy": {
							"type": "string"
						},
						"modifiedDate": {
							"type": "string"
						},
						"basecode": {
							"type": "integer"
						},
						"erpstatus": {
							"type": "string"
						},
						"erpsystem": {
							"type": "string"
						},
						"locale": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Split')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Split",
						"container": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/concatoutputjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyoutputjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"time": {
							"type": "string"
						},
						"callingimsi": {
							"type": "string"
						},
						"callingnum1": {
							"type": "string"
						},
						"callingnum2": {
							"type": "string"
						},
						"switch1": {
							"type": "string"
						},
						"switch2": {
							"type": "string"
						},
						"concatenatedcolumn": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "csvSource.csv",
						"folderPath": "Files",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "createdService",
						"type": "String"
					},
					{
						"name": "createdBy",
						"type": "String"
					},
					{
						"name": "createdDate",
						"type": "String"
					},
					{
						"name": "recordId",
						"type": "String"
					},
					{
						"name": "rowNo",
						"type": "String"
					},
					{
						"name": "modifiedService",
						"type": "String"
					},
					{
						"name": "modifiedBy",
						"type": "String"
					},
					{
						"name": "modifiedDate",
						"type": "String"
					},
					{
						"name": "basecode",
						"type": "String"
					},
					{
						"name": "erpstatus",
						"type": "String"
					},
					{
						"name": "erpsystem",
						"type": "String"
					},
					{
						"name": "locale",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sampleinputjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceMigrationDataFactoryTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "adfsamplejson.json",
						"container": "import"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"time": {
							"type": "string"
						},
						"callingimsi": {
							"type": "string"
						},
						"callingnum1": {
							"type": "string"
						},
						"callingnum2": {
							"type": "string"
						},
						"switch1": {
							"type": "string"
						},
						"switch2": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceMigrationDataFactoryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedServiceMigrationDataFactoryTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkedServiceMigrationDataFactoryTest_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelToRSJson')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ExcelSrc",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RSJSON",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flowlet1",
							"flowlet": {
								"referenceName": "RSJsonFlowlet",
								"type": "DataFlowReference",
								"parameters": {}
							}
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as string,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as string,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 compose(mapColumn(",
						"          id,",
						"          name,",
						"          type,",
						"          createdService,",
						"          createdBy,",
						"          createdDate,",
						"          recordId,",
						"          rowNo,",
						"          modifiedService,",
						"          modifiedBy,",
						"          modifiedDate,",
						"          basecode,",
						"          erpstatus,",
						"          erpsystem,",
						"          locale",
						"     ),",
						"     composition: 'RSJsonFlowlet') ~> flowlet1@(output1)",
						"flowlet1@output1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     partitionFileNames:['ExcelToRSJson.json'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Entities",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/RSJsonFlowlet')]",
				"[concat(variables('factoryId'), '/datasets/ExcelSrc')]",
				"[concat(variables('factoryId'), '/datasets/RSJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenerateJson')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Convert text file to json",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CustomerExcel",
								"type": "DatasetReference"
							},
							"name": "customer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CustomerJson",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "CustomerComplex"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          custid as string,",
						"          custname as string,",
						"          itemname as string,",
						"          quantity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> customer",
						"customer derive(Puchases = @(itemName=itemname,",
						"          Quantity=quantity)) ~> CustomerComplex",
						"CustomerComplex aggregate(groupBy(custid,",
						"          custname),",
						"     Puchases = collect(Puchases)) ~> aggregate1",
						"aggregate1 derive(Customers = @(id=custid,",
						"          Purchases=Puchases),",
						"          dummy = 1,",
						"     partitionBy('hash', 1)) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(dummy),",
						"     Customers = collect(Customers),",
						"     partitionBy('hash', 1)) ~> aggregate2",
						"aggregate2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Customer.json'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Customers",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CustomerExcel')]",
				"[concat(variables('factoryId'), '/datasets/CustomerJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenerateRSJSONForEachSplitFile')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Read the split files and convert to RSJSON",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MultiJsonSrc",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RSJSON",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     FileName as string",
						"}",
						"source(output(",
						"          Entities as (id as string, name as string, type as string, properties as (createdService as string, createdBy as string, createdDate as string, modifiedService as string, modifiedBy as string, modifiedDate as string), data as (attributes as (thgbaseCode as (values as (value as integer, locale as string, source as string)[]), erpStatus as (values as (value as string, locale as string, source as string)[]), erpSystem as (values as (value as string, locale as string, source as string)[])))),",
						"          RowNumber as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine',",
						"     wildcardPaths:[(concat('Split/',$FileName))]) ~> source1",
						"source1 aggregate(Entities = collect(Entities)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Entities",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MultiJsonSrc')]",
				"[concat(variables('factoryId'), '/datasets/RSJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonToRSJsonFlowlet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Flowlet",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "input1"
						},
						{
							"name": "output1"
						}
					],
					"scriptLines": [
						"input(output(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     order: 0) ~> input1",
						"input1 derive(Entities = @(id=id,",
						"          name=name,",
						"          type=type,",
						"          properties=@(createdService=createdService,",
						"          createdBy=createdBy,",
						"          createdDate=createdDate,",
						"          modifiedService=modifiedService,",
						"          modifiedBy=modifiedBy,",
						"          modifiedDate=modifiedDate),",
						"          data=@(attributes=@(thgbaseCode=@(values=array(@(value=basecode,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpStatus=@(values=array(@(value=erpstatus,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpSystem=@(values=array(@(value=erpsystem,",
						"          locale=locale,",
						"          source='internal'))))))) ~> derivedColumn1",
						"derivedColumn1 output() ~> output1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RSJsonFlowlet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Flowlet",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "input1"
						},
						{
							"name": "output1"
						}
					],
					"scriptLines": [
						"input(output(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     order: 0) ~> input1",
						"input1 derive(Entities = @(id=id,",
						"          name=name,",
						"          type=type,",
						"          properties=@(createdService=createdService,",
						"          createdBy=createdBy,",
						"          createdDate=createdDate,",
						"          modifiedService=modifiedService,",
						"          modifiedBy=modifiedBy,",
						"          modifiedDate=modifiedDate),",
						"          data=@(attributes=@(thgbaseCode=@(values=array(@(value=basecode,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpStatus=@(values=array(@(value=erpstatus,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpSystem=@(values=array(@(value=erpsystem,",
						"          locale=locale,",
						"          source='internal'))))))) ~> derivedColumn1",
						"derivedColumn1 aggregate(Entities = collect(Entities)) ~> aggregate1",
						"aggregate1 output() ~> output1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SplitJson')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "split RSJSON into multiple files",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SourceJson",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Split",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "surrogateKey1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> source1",
						"source1 derive(Entities = @(id=id,",
						"          name=name,",
						"          type=type,",
						"          properties=@(createdService=createdService,",
						"          createdBy=createdBy,",
						"          createdDate=createdDate,",
						"          modifiedService=modifiedService,",
						"          modifiedBy=modifiedBy,",
						"          modifiedDate=modifiedDate),",
						"          data=@(attributes=@(thgbaseCode=@(values=array(@(value=basecode,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpStatus=@(values=array(@(value=erpstatus,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpSystem=@(values=array(@(value=erpsystem,",
						"          locale=locale,",
						"          source='internal'))))))) ~> derivedColumn1",
						"derivedColumn1 keyGenerate(output(RowNumber as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"surrogateKey1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Dummy[n].json',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Entities,",
						"          RowNumber",
						"     ),",
						"     partitionBy('dynamicRange', 5,",
						"          RowNumber",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceJson')]",
				"[concat(variables('factoryId'), '/datasets/Split')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformJsonToRSJson')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Reading sample json file from source system and transforming it into RSJSON File.",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SourceJson",
								"type": "DatasetReference"
							},
							"name": "Jsonsource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RSJSON",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn"
						},
						{
							"name": "aggregate"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments',",
						"     unquotedColumnNames: true,",
						"     hasComments: true,",
						"     singleQuoted: true) ~> Jsonsource",
						"Jsonsource derive(Entities = @(id=id,",
						"          name=name,",
						"          type=type,",
						"          properties=@(createdService=createdService,",
						"          createdBy=createdBy,",
						"          createdDate=createdDate,",
						"          modifiedService=modifiedService,",
						"          modifiedBy=modifiedBy,",
						"          modifiedDate=modifiedDate),",
						"          data=@(attributes=@(thgbaseCode=@(values=array(@(value=basecode,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpStatus=@(values=array(@(value=erpstatus,",
						"          locale=locale,",
						"          source='internal'))),",
						"          erpSystem=@(values=array(@(value=erpsystem,",
						"          locale=locale,",
						"          source='internal'))))))) ~> derivedColumn",
						"derivedColumn aggregate(Entities = collect(Entities)) ~> aggregate",
						"aggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id as string,",
						"          name as string,",
						"          type as string,",
						"          createdService as string,",
						"          createdBy as string,",
						"          createdDate as string,",
						"          recordId as string,",
						"          rowNo as integer,",
						"          modifiedService as string,",
						"          modifiedBy as string,",
						"          modifiedDate as string,",
						"          basecode as integer,",
						"          erpstatus as string,",
						"          erpsystem as string,",
						"          locale as string",
						"     ),",
						"     partitionFileNames:['JsonToRSJsonOutput.json'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Entities",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceJson')]",
				"[concat(variables('factoryId'), '/datasets/RSJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/concatdataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This DataFlow is used to Concat two columns using Derived Column Transformation",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sampleinputjson",
								"type": "DatasetReference"
							},
							"name": "sampleinputjson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "concatoutputjson",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          time as string,",
						"          callingimsi as string,",
						"          callingnum1 as string,",
						"          callingnum2 as string,",
						"          switch1 as string,",
						"          switch2 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     rowUrlColumn: 'FileName',",
						"     documentForm: 'arrayOfDocuments') ~> sampleinputjson",
						"sampleinputjson derive(concatenatedcolumn = concat(switch1,' ',switch2)) ~> derivedColumn",
						"derivedColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     rowUrlColumn:'FileName',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sampleinputjson')]",
				"[concat(variables('factoryId'), '/datasets/concatoutputjson')]"
			]
		}
	]
}